.pcf-pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  user-select: none;
  cursor: pointer;

  .active > * {
    z-index: 2;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
    cursor: default;
    &:hover,
    &:focus {
      z-index: 2;
      color: #fff;
      background-color: #428bca;
      border-color: #428bca;
      cursor: default;
    }
  }

  .disabled {
    opacity: 0.5;
  }

  .disabled > *,
  .disabled > *:hover,
  .disabled > *:focus {
    color: #999999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
  }
}

.pcf-pagination > * {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
  text-align: center;
}

.pcf-pagination > *:first-child {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pcf-pagination > *:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pcf-pagination > * > * {
  padding: 6px 12px;
  line-height: 1.42857;
  text-decoration: none;
  color: #428bca;
  display: inline-block;
  min-width: 0.5em; // makes box for 1 the same as 2

  &:hover,
  &:focus {
    color: #2a6496;
    background-color: #eeeeee;
    border-color: #ddd;
  }
}
