.message {
    button {
        text-align: center;
        margin-right: 2em;
    }

    .sign-link {
        margin-top: 1em;
        display: block;
        text-decoration: underline;
        cursor: pointer;
    }

    .message-button {
        font-size: 22px;
    }
}
