.dropzone {
    width: 100%;
    height: 100px;
    line-height:100px;
    background: #DEE0E2;
    border: 3px solid #DEE0E2;
    cursor: pointer;
}

.dropzone div {
    display:inline-block;
    vertical-align:middle;
    line-height:1.2;
    text-align: center;
    width:100%;
}

.dropzone.drag-over {
    border: 3px dashed #2B8CC4;
    background-color: #FFBF47;
}
