.button--normalised {
  white-space: nowrap;
  min-width: 100px;
  margin-right: 8px;

  &:last-child {
    margin-right: inherit;
  }
}

.close-button {
  float: right;
  font-size: 19px;
  text-decoration: none;
}

.button--secondary {
  background-color: #dee0e2;
  color: #0b0c0c;
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);

  &:hover {
    background-color: #c0c2c4;
  }

  &:active {
    box-shadow: 0 0 0 #c0c2c4;
  }

  &:focus {
    background-color: #c0c2c4;
  }
}
