$header-text-color: #fff;
$loading-background: #dee0e2;
$grey-3: #dee0e2;
$grey-4: #f8f8f8;
$modal-background-overlay: rgba(33, 33, 33, 0.74902);
$main-blue: #005ea5;
$link-hover-colour: #2b8cc4;
$highlight-blue: #e8f6ff;
