<div class="container">
    <div class="content">
        <br/>
        <br/>
        <header>
            <h1>Request access to {{ title }}</h1>
        </header>
        <p>We will grant you access shortly. Please check again soon.</p>
    </div>
</div>