<div class="container">
  <div class="content">
    <br/>
    <br/>
    <header>
      <h1>Request access to {{ title }}</h1>
    </header>
    <p>Please click below to request access to {{ title }}.</p>
    <div class="signin center">
      <form method="POST" action="/request-access">
        <button type="submit" class="button button-start">Request Access</button><br>
      </form>
    </div>
  </div>
</div>