<div class="container">
  <div class="content">
    <br/>
    <br/>
    <header>
      <h1>Welcome to {{ title }}</h1>
    </header>
    <p>{{ description }}</p>
    <div class="signin center">
      <button onclick="window.location.href = '/sign-in';" id="myButton" class="button-start button">NCSC Signin</button>
    </div>
  </div>
</div>