 @import 'colours';

.spinner {
  display: inline-block;
  font-size: inherit;
  width: 1em;
  height: 1em;
  border: .25em solid $grey-3;
  border-top: .25em solid $govuk-blue;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.SpinnerWrapper {
  display: block;
  text-align: center;

  .loading-text {
    display: inline-block;
    font-size: .75em;
    margin-bottom: .5em;
    color: rgba($black, .75);
  }

  .spinner {
    display: block;
    margin: auto;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
