$heading-xlarge-desktop-heading: 4.8rem;
$heading-large-desktop-heading: 3.6rem;
$heading-medium-desktop-heading: 2.4rem;
$heading-small-desktop-heading: 1.6rem;
$lede-desktop-body: 2rem;
$main-desktop-body: 1.6rem;
$font-xsmall-desktop-font: 1.4rem;
$heading-secondary-desktop-heading: 2.7rem;
$bold-xxlarge-desktop-bold: 8rem;
unordered-desktop-body: 1.6rem;
ordered-desktop-body: 1.6rem;
$heading-large-mobile-heading: 2.4rem;
$heading-medium-mobile-heading: 1.8rem;
$heading-small-mobile-heading: 1.6rem;
$heading-secondary-mobile-heading: 2rem;
$heading-secondary-desktop-heading: 2.4rem;
$heading-secondary-mobile-heading: 1.8rem;
$bold-large-desktop-bold: 3.6rem;
$bold-medium-desktop-bold: 2.4rem;
$bold-small-desktop-bold: 1.6rem;
$bold-xsmall-desktop-bold: 1.4rem;
$bold-xxlarge-mobile-bold: 5.3rem;
$bold-xlarge-mobile-bold: 3.2rem;
$bold-large-mobile-bold: 2.4rem;
$bold-medium-mobile-bold: 1.8rem;
$bold-small-mobile-bold: 1.6rem;
$bold-xsmall-mobile-bold: 1.4rem;
$lede-mobile-body: 1.8rem;
$main-mobile-body: 1.6rem;
$font-xxlarge-desktop-font: 8rem;
$font-xxlarge-mobile-font: 5.3rem;
$font-xlarge-desktop-font: 4.8rem;
$font-xlarge-mobile-font: 3.2rem;
$font-large-desktop-font: 3.6rem;
$font-large-mobile-font: 2.4rem;
$font-medium-desktop-font: 2.4rem;
$font-medium-mobile-font: 1.8rem;
$font-small-desktop-font: 1.6rem;
$font-small-mobile-font: 1.6rem;
$font-xsmall-mobile-font: 1.4rem;
$form-hint-desktop-body: 1.6rem;
$form-hint-mobile-body: 1.6rem;
$link-desktop-body: 1.6rem;
-desktop-body: 1.6rem;
$link:hover-desktop-body: 1.6rem;
$heading-xlarge-mobile-heading: 3.2rem;
$bold-xlarge-desktop-bold: 4.8rem;
$link-mobile-body: 1.6rem;
$link:hover-mobile-body: 1.6rem;
-mobile-body: 1.6rem;
$heading-medium-desktop: 2.4rem;
$form-hint-desktop-body: 1.8rem;
$font-xsmall-desktop-font: 1.6rem;
