$text-colour: #0B0C0C;
$border-colour: #BFC1C3;
$secondary-text-colour: #6F777B;
$link-hover-colour: #2B8CC4;
$panel-colour: #DEE0E2;
$focus-colour: #FFBF47;
$page-colour: #FFFFFF;
$link-visited-colour: #4C2C92;
$highlight-colour: #F8F8F8;
$purple: #2E358B;
$pink: #D53880;
$mellow-red: #DF3034;
$turquoise: #28A197;
$mauve: #6F72AF;
$baby-pink: #F499BE;
$orange: #F47738;
$fuchsia: #912B88;
$red: #B10E1E;
$brown: #B58840;
$grass-green: #85994B;
$govuk-blue: #005EA5;
$button-colour: #00823B;
$green: #006435;
