@import "../../static/styles/constants/layout";
@import "../../static/styles/base/layout";

.Nav {
  @media (min-width: $view-breakpoint-3 + 1) {
    /*&:not(.display-none) {*/
    display: inline-block;
    /*}*/
  }
  margin: 0;

  li {
    float: right;
    list-style: none;
    padding-right: 1em;
  }
}

@media (max-width: $view-breakpoint-3 + 1) {
  .show-mobile-menu-links {
    display: block !important;
  }
}
