@import "../../static/styles/constants/colors";

.notification-content-container {
  clear: both;
  display: block;
  font-size: 1.6rem;

  label {
    font-weight: bold;
    min-width: 7rem;
    display: inline-block;
  }

  div {
    margin-bottom: 1rem;
  }
}

.notifications-list-table {
  th:first-child,
  td:first-child {
    padding-left: 1rem;
  }
  .content-right {
    text-align: right;
    padding-right: 1rem;
  }
}

.notification-service {
  text-transform: capitalize;
}

.note-date {
  white-space: nowrap;
}

.notification-priority-tag {
  background: #f8f8f8;
  border: 1px solid #dee0e2;
  padding: 0.2rem 0.6rem;
  border-radius: 2px;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: inline;
}

.notification-service-item-name {
  text-transform: capitalize;
}

.notification-content-text {
  padding-top: 1rem;
  font-size: 1.9rem;
}

.notification {
  &.read {
    border-left: 5px solid rgba(0, 0, 0, 0);
  }
  &.unread {
    background-color: $highlight-blue;
    border-left: 5px solid $link-hover-colour;

    a,
    td {
      font-weight: bold;
    }
  }
}
