@import "colours";

.paginator-container {
  text-align: center;
  color: $govuk-blue;
  width: 100%;
  height: 5.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  :hover {
    background-color: $grey-4;
  }

  .wrapper {
    display: flex;
    align-items: flex-end;
  }

  .paginator-control {
    margin-bottom: 1rem;
    font-size: 7rem;
  }

  .page-count {
    font-size: 1.6rem;
  }

  .previousPage {
    float: left;
    display: block;
    cursor: pointer;
    padding-right: 12rem;
    span {
      font-size: 2.7rem;
      margin-left: 1rem;
    }

    .page-count {
      text-align: left;
    }
    padding-bottom: 1rem;
  }

  .nextPage {
    float: right;
    display: block;
    cursor: pointer;
    padding-left: 12rem;
    span {
      font-size: 2.7rem;
      margin-right: 1rem;
    }
    padding-bottom: 1rem;

    .page-count {
      text-align: right;
    }
  }
}
