@import 'colours';

.HideShowPanel {
    .panel-heading {
        cursor: pointer;
    }

    .link:active,
    .link:focus {
        background-color: transparent;
        outline: transparent;
    }

    .expand-icon {
        font-size: 1.4em;
        vertical-align: bottom;
        transition: all 100ms linear;
        margin-right: 0.7rem;
    }

    &.expanded {
        .expand-icon {
            transform: rotate(90deg);
        }
    }

    img {
        vertical-align: middle;
        margin: 0.3em;
    }
}
